
.portfolio_links {
	overflow-y: auto;
}
	
.portfolio_links a {	
	display: block;
	position: relative;
	float: left;
	/*box-sizing: border-box;*/
	margin: 1%;
	/*margin-bottom: 16px;*/
	width: 30.66%;	
}
.portfolio_links a:nth-of-type(3n - 2) {	
	margin-left: 2%	
}
.portfolio_links a:nth-of-type(3n) {	
	margin-right: 2%	
}

.portfolio_links a:hover {	
	cursor: pointer;
}

.portfolio_links a img {	
	width: 100%;
}

.portfolio_links a .overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0);
	color: rgba(300,300,300,0);
	transition: background-color 0.5s, color 0.5s;
}
.portfolio_links a:hover .overlay {	
	background-color: rgba(0,0,0,0.5);
	color: rgba(300,300,300,0.8);
}

.portfolio_links a .overlay p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

@media (max-width: 767px) {
	.portfolio_links a {	
		width: 47%;
	}
	.portfolio_links a:nth-of-type(3n - 2) {	
		margin-left: 1%	
	}
	.portfolio_links a:nth-of-type(3n) {	
		margin-right: 1%	
	}
	.portfolio_links a:nth-of-type(2n - 1) {	
		margin-left: 2%	
	}
	.portfolio_links a:nth-of-type(2n) {	
		margin-right: 2%	
	}
}