/*Theme*/
h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

.content {
	/*max-width: 960px;*/
	width: 100%;	
	box-sizing: border-box;
	padding-top: 60px;
	margin: 0 auto;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 80px;
	margin-bottom: 20px;
}

.navigation{
	padding: 0 10px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 56px;
}

.navigation a {
	top: 0;
	display: inline-block;
	position: relative;
	margin: 0 18px;	
	transition: top 0.1s;
}

.navigation a:hover {
	top: -4px;
}
.navigation a.active {
	padding: 10px;
	padding-top: 8x;
	border: 3px solid black;
}
.navigation a.active:hover {
	top: 0;
}



footer {
	text-align: center;	
	margin-top: 40px;	
	margin-bottom: 20px;
}

footer h5 {
	line-height: 20px;
}
footer p {
	line-height: 20px;
	font-size: 12px;
}

.lang {
	cursor: pointer;
	position: fixed;
	right: 32px;
	top: 0;
	padding: 4px;
	font-size: 17px;
	font-weight: 600;
	padding-top: 20px;
	/*background-color: rgba(300,300,300,0.6);*/
}

body.italian .english {
		display: none;
}

body.english .italian {
		display: none;
}

@media (max-width: 620px) {
	h1 {
		font-size: 60px;
	}
}
