/*Theme*/
h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

.content {
	max-width: 960px;
	width: 100%;	
	box-sizing: border-box;
	padding: 60px 10px 0 10px;
	margin: 0 auto;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 32px;
	margin-bottom: 20px;
}

.navigation{
	padding: 0 10px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 60px;
}

.navigation a {
	display: inline-block;
	padding: 0 9px;
}

.navigation a span{
	padding-right: 20px;
}


footer {
	text-align: center;	
	margin-top: 40px;	
	margin-bottom: 20px;
}

footer h5 {
	line-height: 20px;
}
footer p {
	line-height: 20px;
	font-size: 12px;
}

.lang {
	cursor: pointer;
	position: absolute;
	right: 16px;
	top: 16px;
	padding: 2px;
	border: 2px solid #fff;
	font-size: 17px;
	font-weight: 600;
}
.lang:hover {
	/*border-color: #000;*/
	border-bottom-color: #000;
}

body.italian .english {
		display: none;
}

body.english .italian {
		display: none;
}


