/*Fonts*/
@font-face {
    font-family: 'Dosis';
    font-weight: 500;
	font-style: normal;
	src: url('../fonts/Dosis-500/Dosis-500.eot');
	src: url('../fonts/Dosis-500/Dosis-500.eot?#iefix') format('embedded-opentype'),
		 local('Dosis Medium'),
		 local('Dosis-500'),
		 url('../fonts/Dosis-500/Dosis-500.woff2') format('woff2'),
		 url('../fonts/Dosis-500/Dosis-500.woff') format('woff'),
		 url('../fonts/Dosis-500/Dosis-500.ttf') format('truetype'),
		 url('../fonts/Dosis-500/Dosis-500.svg#Dosis') format('svg');
}
@font-face {
  font-family: 'Dosis';
  font-weight: 600;
  font-style: normal;
  src: url('../fonts/Dosis-600/Dosis-600.eot');
  src: url('../fonts/Dosis-600/Dosis-600.eot?#iefix') format('embedded-opentype'),
       local('Dosis SemiBold'),
       local('Dosis-600'),
       url('../fonts/Dosis-600/Dosis-600.woff2') format('woff2'),
       url('../fonts/Dosis-600/Dosis-600.woff') format('woff'),
       url('../fonts/Dosis-600/Dosis-600.ttf') format('truetype'),
       url('../fonts/Dosis-600/Dosis-600.svg#Dosis') format('svg');
}

@font-face {
  font-family: 'Dosis';
  font-weight: 700;
  font-style: normal;
  src: url('../fonts/Dosis-700/Dosis-700.eot');
  src: url('../fonts/Dosis-700/Dosis-700.eot?#iefix') format('embedded-opentype'),
       local('Dosis Bold'),
       local('Dosis-700'),
       url('../fonts/Dosis-700/Dosis-700.woff2') format('woff2'),
       url('../fonts/Dosis-700/Dosis-700.woff') format('woff'),
       url('../fonts/Dosis-700/Dosis-700.ttf') format('truetype'),
       url('../fonts/Dosis-700/Dosis-700.svg#Dosis') format('svg');
}


/*Theme*/
h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

i {
	font-style: italic;
}

b, strong {
	font-weight: bold;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

html {
	overflow-x: hidden;
}

body {
	background-color: #fff;
	overflow-x: hidden;
	position: relative;
}

.content {
	width: 100%;	
	box-sizing: border-box;
	padding-top: 56px;
	margin: 0 auto;
	position: relative;
}

h1.title {
	text-align: center;
	font-size: 80px;
	margin: 60px auto 50px;
}

p.navigation {
	padding: 0 10px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
}

.navigation a {
	padding: 2px 4px;
	display: inline-block;
	margin: 0 18px;	
	transition: all 0.2s;
	position: relative;
	top: 0;
}

.navigation a.active {
	font-weight: bold;
}



footer {
	text-align: center;
    margin-top: 40px;
    margin-bottom: 20px;
}

footer h5 {
	line-height: 20px;
}
footer p {
	line-height: 20px;
	font-size: 12px;
	margin-top: 0;
	font-weight: 500;
}

.lang {
	cursor: pointer;
	position: fixed;
	right: 32px;
	top: 0;
	padding: 4px;
	font-size: 17px;
	font-weight: 600;
	padding-top: 20px;
	/*background-color: rgba(300,300,300,0.6);*/
}

body.ita .eng {
		display: none;
}

body.eng .ita {
		display: none;
}

img {
	opacity: 0;
	-webkit-transition: opacity 1s;
	-moz-transition: opacity 1s;
	-ms-transition: opacity 1s;
	-o-transition: opacity 1s;
	transition: opacity 1s;
}
img.loaded {
	opacity: 1;
}





@media (max-width: 620px) {
	h1.title {
		font-size: 60px;
	}
}



