/*Theme*/
h1, h2, h3, h4, h5, h6, p, a, li {
	font-family: 'Dosis', sans-serif;
	font-weight: 600;
}

i {
	font-style: italic;
}

b {
	font-weight: bold;
}

a {
	cursor: pointer;
	text-decoration: none;
	color: #000;
}

body {
	background-color: #fff;
}

.content {
	/*max-width: 960px;*/
	width: 100%;	
	box-sizing: border-box;
	padding-top: 60px;
	margin: 0 auto;
	position: relative;
}

h1 {
	text-align: center;
	font-size: 80px;
	margin-bottom: 20px;
}

.navigation{
	padding: 0 10px;
	line-height: 20px;
	font-size: 18px;
	text-align: center;
	margin-bottom: 56px;
}

.navigation a {
	padding: 2px 4px;
	display: inline-block;
	margin: 0 18px 20px;	
	transition: all 0.2s;
	/*border: 3px solid #fff;*/
	position: relative;
	top: 0;
}


/*.navigation a:hover {
	top: -8px;
}
.navigation a:hover span {
	bottom: -6px;
	width: 80%;
	left: 10%;
	border-color: #000;
}*/
.navigation a.active {
	/*-moz-transform: scale(1.1);
	-webkit-transform: scale(1.1);
	transform: scale(1.1);*/
	font-weight: bold;
}

/*.navigation a.active span {
	position: absolute;
	display: block;
	height: 6px;
	width: 6px;
	left: 50%;
	border: 2px solid #000;
	background-color: #000;
	top: -10px;
	box-sizing: border-box;
	margin-left: -3px;
    transform: rotate(225deg);
}*/

/*.navigation a:hover {
	background-color: #111;
	color: #fff;
}
.navigation a.active {
	border-color: #000;
}
.navigation a.active:hover {
	background-color: initial;
	color: initial;
}*/



footer {
	text-align: center;	
	margin-top: 40px;	
	margin-bottom: 20px;
}

footer h5 {
	line-height: 20px;
}
footer p {
	line-height: 20px;
	font-size: 12px;
}

.lang {
	cursor: pointer;
	position: fixed;
	right: 32px;
	top: 0;
	padding: 4px;
	font-size: 17px;
	font-weight: 600;
	padding-top: 20px;
	/*background-color: rgba(300,300,300,0.6);*/
}

body.italian .english {
		display: none;
}

body.english .italian {
		display: none;
}

img {
	opacity: 0;
	transition: opacity 1s;
}
img.loaded {
	opacity: 1;
}

@media (max-width: 620px) {
	h1 {
		font-size: 60px;
	}
}
