

div.content {
	padding-left: 20px;
	padding-right: 20px;
}
h2 {
	text-align: center;
	font-size: 26px;
	margin-bottom: 40px;
}
h2.name {
	margin-bottom: 10px;
}
h3 {
	text-align: center;
	font-size: 17px;
	font-weight: 500;
}
h4 {
	margin: 0;
	font-size: 75px;
}
div.text-circle {
	height: 1050px;
    width: 1050px;
    padding: 150px;
    border-radius: 50%;
    background-color: white;
    border: 10px double #FF8DA1;
    margin: 120px 0;
    box-sizing: border-box;
    position: relative;
    left: 50%;
    margin-left: -525px;
}

div.text-circle * {
	   text-align: center;
    position: relative;
    top: 50%;
    left: 50%;
    -moz-transform: translateY(-50%) translateX(-50%);
    -ms-transform: translateY(-50%) translateX(-50%);
    -webkit-transform: translateY(-50%) translateX(-50%);
    -o-transform: translateY(-50%) translateX(-50%);
    transform: translateY(-50%) translateX(-50%);
    /* font-size: 1.8vh; */
    max-width: 100vw;
    box-sizing: border-box;
    padding: 0 20px;
}

p {
	font-size: 17px;
	font-weight: 500;
}
footer {
	margin-top: 100px;
}

@media (max-width: 826px) {
	h4 {
		font-size: 50px;
	}
}
@media (max-width: 760px) {
	h4 {
		font-size: 32px;
	}
	div.text-circle {
		height: auto;
		width: 100%;
		padding: 40px 0;
		border-radius: 0;
		border-right: 	none;
		border-bottom: 	none;
		border-left: 	none;
		max-width: auto;
		position: static;
		margin: 0;
	}
	div.text-circle * {
		-moz-transform: none;
		-ms-transform: none;
		-webkit-transform: none;
		-o-transform: none;
		transform: none;
		padding: 0;
		position: static;
		text-align: justify;
	}
	div.text-circle h2 {
		text-align: center;
		padding-top: 140px;
	}
}
