.s14 p {font-size: 14px;}
.s14 h5 {font-size: 19px;}
.s14 h4 {font-size: 25px;}
.s14 h3 {font-size: 33px;}
.s14 h2 {font-size: 46px;}
.s14 h1 {font-size: 62px;}

.s16 p {font-size: 16px;}
.s16 h5 {font-size: 21px;}
.s16 h4 {font-size: 28px;}
.s16 h3 {font-size: 37px;}
.s16 h2 {font-size: 52px;}
.s16 h1 {font-size: 70px;}


/*s17*/
.s17 p {font-size: 17px;}
.s17 h5 {font-size: 22px;}
.s17 h4 {font-size: 30px;}
.s17 h3 {font-size: 40px;}
.s17 h2 {font-size: 56px;}
.s17 h1 {font-size: 75px;}