

div.content {
	padding-left: 20px;
	padding-right: 20px;
}
h2 {
	text-align: center;
	font-size: 26px;
	margin-bottom: 40px;
}
h2.name {
	margin-bottom: 10px;
}
h3 {
	text-align: center;
	font-size: 17px;
	font-weight: 500;
}
h4 {
	margin: 0;
	font-size: 75px;
}
div.text-circle {
	height: 110vh;
	width: 110vh;
	max-height: 90vw;
	max-width: 90vw;
	padding: 15vh;
	border-radius: 50%;
	/*color: white;*/
	background-color: white;
	/*background-color: #FF8DA1;*/
	border: 10px solid #FF8DA1;
	margin: 160px auto;
	box-sizing: border-box;
}

div.text-circle * {
	text-align: center;
	position: relative;
	top: 50%;
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	font-size: 1.8vh;
}

div.text-circle h2 {
	font-size: 2.8vh;
}

p {
	font-size: 17px;
	font-weight: 500;
}
footer {
	margin-top: 100px;
}

@media (max-width: 826px) {
	h4 {
		font-size: 50px;
	}
}
@media (max-width: 620px) {
	h4 {
		font-size: 32px;
	}
}
