.content {
	width: 96%;
	margin: auto;
}
.videoContent {
	overflow-y: auto;
}
video {
	float: left;
	width: 49%;
	margin-top: 2%;
}
video:hover {
	cursor: pointer;
}
img {
	float: left;
	margin-top: 2%;
	width: 49%;
}
img:nth-of-type(2n - 1) {
	margin-left: 2%;
}
.text {
	margin-top: 50px;
}
h3 {
	font-size: 19px;
	margin-bottom: 20px;
}