body {
	max-width: 140vh;
	margin: auto;
}

div.content {
	/*max-width: 150vh;*/
	max-width: 1400px;
	padding-top: 60px;
}

div {
	margin-left: 1%;
	margin-right: 1%;
}



h3 {
	font-size: 19px;
	margin-bottom: 20px;
}

p {
	/*margin-top: 10px;*/
	font-weight: 500;
}

p.p10{
	font-size: 10px;
}
p.p11{
	font-size: 11px;
}
p.p12{
	font-size: 12px;
}
p.p13{
	font-size: 13px;
}
p.p14{
	font-size: 14px;
}
p.p15{
	font-size: 15px;
}
p.p16{
	font-size: 16px;
}
p.p17{
	font-size: 17px;
}
p.p18{
	font-size: 18px;
}
p.p19{
	font-size: 19px;
}
p.p20{
	font-size: 20px;
}

.workDescription{
	margin-top: 52px;
}

.images{
	padding: 0 10px;
}


img, video {
	margin: 120px 1%;
	width: 100%;
	vertical-align: baseline;
}

img.s3, video.s3 {
	width: 31.3%;
    margin: 1%;
}

img.s2, video.s2 {
	width: 48%;
    margin: 1%;
}

video {
	max-height: 95vh;
	background-color: black;
}

/*img:first-of-type, img:last-of-type {
	margin: 60px auto;
}*/

footer {
	margin-top: 112px;
}

@media (max-width: 800px) {
	img, video {
		margin: 60px auto;
	}
}

