body {
	max-width: 150vh;
	margin: auto;
}

.content {
	/*max-width: 150vh;*/
	max-width: 1400px;
}

.content > * {
	margin-left: 1%;
	margin-right: 1%;
	box-sizing: border-box;
}

.content h1 {
	font-size: 75px;
}
.content h2 {
	font-size: 26px;
}
.content h3 {
	font-size: 19px;
	margin-bottom: 20px;
}


.content p {
	font-weight: 500;
}

.content p+p {
	margin-top: 20px;
}

.content .s12 p {font-size: 12px;}
.content .s13 p {font-size: 13px;}
.content .s14 p {font-size: 14px;}
.content .s15 p {font-size: 15px;}
.content .s16 p {font-size: 16px;}
.content .s17 p {font-size: 17px;}
.content .s18 p {font-size: 18px;}



.content .s1 {
	width: 98%;
	vertical-align: baseline;
}

img.s1 {
	margin-top: 75px;
	margin-bottom: 75px;	
}

.content img.s1:first-of-type {
	margin-top: 60px;
}
.content img.s1:last-of-type {
	margin-bottom: 0;
}

video.s1 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.content .s2, .content .s2 {
	width: 48%;
    margin: 1%;
}

.content .s3, .content .s3 {
	width: 31.3%;
    margin: 1%;
}

.content .s4, .content .s4 {
	width: 23%;
    margin: 1%;
}

.content .s2:first-of-type, .content .s3:first-of-type, .content .s4:first-of-type {
	margin-top: 20px;
}

.content video {
	max-height: 95vh;
	background-color: black;
}

img + .text {
	margin-top: 50px;
}

footer {
	margin-top: 112px;
}

@media (max-width: 800px) {
	.content {
		padding-left: 5px;
		padding-right: 5px;
	}
	.content img {
		margin-top: 30px;
		margin-bottom: 30px;
	}
}

@media (max-width: 826px) {
	.content h1 {
		font-size: 50px;
	}
}
@media (max-width: 760px) {
	.content h1 {
		font-size: 32px;
	}
}

