div.content {
	max-width: 150vh;
	padding: 60px 10px 0 10px;
}

.workDetail{
	margin: 0;
	padding: 0;
}


.text {
	margin-bottom: 20px;
	padding: 0 10px;
}

.text h3 {
	font-size: 19px;
	margin-bottom: 20px;
}

p {
	margin-top: 10px;
	font-weight: 500;
}

p.p14{
	font-size: 14px;
}
.workDescription{
	margin-top: 52px;
}

.images{
	padding: 0 10px;
}


img {
	margin: 150px auto;
	display: block;
	width: 100%;
}

img:first-of-type, img:last-of-type {
	margin: 60px auto;
}

footer {
	margin-top: 112px;
}

@media (max-width: 800px) {
	img, video {
		margin: 60px auto;
	}
}

